.sidebar-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    cursor: pointer;
    padding: 20px 50px;
    border-left: 3px solid transparent;
    transition: all ease 0.5s;
    width: 100%;
    text-align: left;

    .btn-icon {
        svg {
           fill: rgba(159, 162, 180, 0.4); 
           margin-right: 24px;
           
        }
    }
    &:hover, .activ {
        color: #dde2ff;
        border-left: 3px solid #dde2ff;
        background-color: rgba($color: #dde2ff, $alpha: 0.08);
        .svg-icon {
            fill: #dde2ff;
        }
    }
}